#col1{
    padding-top: 10%;
}

#col2{
    padding-top: 10%;
    
}

#navbar{
    width: 100%;
    background-color: #0091E6;    
}


hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
.navbutton{
    color: white;
}


.card{
    width: 100%;
    border-radius: 20px;
}



h2{
    text-align: center;
    left: 50%;
}
#header{
    padding-top: 5%;
    font-size: 40px;
}

#doughnutChart{
    height: 20%;
}

p{
    font-size: 20px;
}
.cardName{
    font-size: 20px;
}

#icon{

    margin: auto;    
    display: block;}





