{% load static %}

<html>

<head>

    <link rel="stylesheet" type="text/css" href="{% static 'project/css/deviceFrame.css' %}">
    <meta name="viewport" content="width=100">

</head>

<body>


    <div class="marvel-device iphone-x">

        <div class="top-bar"></div>
        <div class="sleep"></div>
        <div class="bottom-bar"></div>
        <div class="volume"></div>
        <div class="overflow">
            <div class="shadow shadow--tr"></div>
            <div class="shadow shadow--tl"></div>
            <div class="shadow shadow--br"></div>
            <div class="shadow shadow--bl"></div>
        </div>
        <div class="inner-shadow"></div>
        <div class="screen" style="overflow: scroll;">

            <nav class="navbar  navbar-light bg-light">
                <a class="navbar-brand" href="#">
                    <form>
                        <input class="form-control mr-sm-2" type="search" style="width:100%;" placeholder="Search"
                            aria-label="Search" id="searchValue" type="">
                    </form>


                </a>
                
                {% if title == 'home' %}
                    <button onclick="window.open('/dashboard','_self');" class="navbar-toggler" type="button"
                    data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class=""><img src="https://image.flaticon.com/icons/svg/51/51319.svg" height="42"
                            width="42"></span>
                </button>
                {% elif title == 'dashboard' %}
                <button onclick="openHome()" class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class=""><img src="https://image.flaticon.com/icons/svg/846/846449.svg" height="42" width="42"></span>
        </button>
                {% endif %}

               

            </nav>

            {% block content %}
            {% endblock %}
        </div>
    </div>

</body>

</html>