<!doctype html>
<html lang="en">

<head>
    <title>Organic Chemistry</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <input class="form-control mr-sm-2" type="search" style="width:140%;" placeholder="Search"
                aria-label="Search">

        </a> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">

                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown link
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="borderless">

        <ul class="list-group">
            <li class="list-group-item borderless">
                <div class="card">
                    <div class="card-body">
                        We think you are at "INSERT STORE HERE".
                        If you are not at this store enter a category or store in the search field above.
                        We reccomend the following Cards Below.
                    </div>
                </div>
            </li>

        </ul>

    </div>

    <div class="borderless">

        <ul class="list-group">


            <li class="list-group-item">
                <div class="card" style="border-radius:18px;">

                    <!-- Card image -->

                    <!-- Card content -->
                    <div class="card-body" style="height: 200px;">

                        <h5 style="position:absolute; left: 5%;">CARD TITLE</h5>
                        <br>
                        <h6 style="position:absolute; left: 5%;">Savings Earned:</h6>

                        <div style="position:absolute; top: 40%; left: 5%;" class="badge badge-pill badge-primary">
                            Primary</div>

                        <div style="position:absolute; top: 60%; left: 5%;">XXXX-XXXX-XXXX-1234</div>

                    </div>

                </div>
            </li>
            <li class="list-group-item">
                <div class="card">
                    <div class="card-body">
                        This is some text within a card body.
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="card">
                    <div class="card-body">
                        This is some text within a card body.
                    </div>
                </div>
            </li>

        </ul>

    </div>

</body>

</html>